section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: start;
    padding: 1.5rem;
    ;
  }
  
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 1px solid #efefef;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
  
    img {
      width: 100%;
      height: auto;
      border-radius: 4px;
    }
  
    h3 {
      font-size: 1.2rem;
      margin: 0.8rem 0 0.5rem 0;
      font-weight: bold;
    }
  
    a {
      display: inline-block;
      margin-top: 0.5rem;
      background-color: black;
      color: white;
      padding: 0.6rem 1rem;
      border-radius: 4px;
      text-decoration: none;
    }
  }
  
  ul{display: flex;
      gap: 1rem;
      list-style: none;
  }
  .artist{
    margin-top: 2rem;
    width: 100%;
    font-size: 2rem;
  }

.Byer{
    display: flex;
    nav{
        width: 100%;
        margin-top: 20px;
    }
    article{
        width: 25%;
    }
}
