
section{
    max-width: 1200px;
    h2{
        width: 100%;
        padding: 50px;

    }
}
.Attraksjoner{
    display: flex;
    article{
        width: 25%;
        height: 275px;
        img{
            max-width: 300px;
            min-height: 200px;
        }
    }
}
.Arrangementer{
    display: flex;
    h2{
        width: 100%;
    }
    article{
        height: auto;
        max-height: 500px;


        p{
           margin: 0;
           text-align: left;
        }
    }
}
.Spillesteder{
    display: flex;
    h2{
        width: 100%;
    }
    article{
        max-height: 400px;
        width: 336px;


        p{
           margin: 0;
           text-align: left;
        }
    }
}
.Sokefelt{
    margin-top: 25px;
    padding: 25px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.Filtrering{
    padding: 25px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
